
<center><button class="btn btn-xs btn-danger" {{action 'deleteQuestion' model}}>Delete Question</button></center>

<div id="question-header">
  <h3>{{model.author}} posted a question: </h3>
</div>
<br>
<div id="question-title">
  <h2>{{model.title}}</h2>
  {{update-question question=model updateQuestion="updateQuestion"}}
</div>

<br><br><br>
<div id="question-notes">

  <h4>Some additional notes about my question:</h4>
    <h5>{{model.notes}}</h5>

</div>


<br>
<center><h2>Answers:</h2></center>
<div id="answers">
  {{#each model.answers as |answer|}}
    <h2>{{answer.title}} submitted by {{answer.author}}</h2>
    <h4>{{answer.body}}</h4>
  {{/each}}
</div>
<div id="answer-button">
  {{new-answer question=model saveAnswer='saveAnswer'}}
</div>

<div id="show-answer">
  {{posted-answer answers=model.answers}}
</div>
