

<div id="question-header">
  <h3>{{model.author}} posted a question: {{update-question question=model updateQuestion="updateQuestion"}}</h3>
</div>

<div id="question-title">
  <h2>{{model.title}}</h2>
</div>

<br>
<div id="question-notes">

    <h5>Here are some additional notes about my question:</h5>
    <p>{{model.notes}}</p>

<br>
<button class="btn btn-danger" {{action 'deleteQuestion' model}}>Delete</button>
</div>
