

<div id="question-header">
  <h3>{{model.author}} posted a question: </h3>
</div>

<div id="question-title">
  <h2>{{model.title}}</h2>
  {{update-question question=model updateQuestion="updateQuestion"}}
</div>

<br><br><br>
<div id="question-notes">

  <h4>Some additional notes about my question:</h4>
    <h5>{{model.notes}}</h5>

<br><br>
</div>
<center><button class="btn btn-danger" {{action 'deleteQuestion' model}}>Delete Question</button></center>
